# Ignore Visual Studio Build Directory
bin/*
build/*
packages/*

# Ignore Visual Studio File & Directory
**/.vs/*
*.vcxproj.user

# Ignore External Project Files
External/*

# Ignore Data Files
*.blend1
